.container {
    font-family: 'Open Sans', sans-serif;
}

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

.parallax-group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax-layer-base {
    transform: translateZ(0);
    z-index: 4;
}

.parallax-layer-back {
    transform: translateZ(-300px) scale(3);
    z-index: 3;
}

.parallax-layer-deep {
    transform: translateZ(-600px) scale(3);
    z-index: 2;
}

.latest-news-background {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("../images/latest-news-bg.jpeg");
    background-size: 100%;
    height: 120vh;
}

.popular-clients-background {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("../images/popular-clients-bg.jpeg");
    background-size: 100%;
}

.nav-head-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #1d2124;
}

.nav-item {
    padding: 0 20px;
}

.nav-item-link {
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.logo {
    margin-right: auto;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-img {
    padding: 20px;
    background: #1a1d20;
}

.logo-title {
    display: inline-block;
    margin-left: 5px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.search {
    margin-left: auto;
}

.search-btn {
    padding: 26px;
    font-size: 18px;
    color: #fff;
    background: #1a1d20;
    border: none;
}

.latest-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 375px; */
    /* background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("../images/latest-news-bg.jpeg"); */
    /* background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover; */
}

.latest-news-title {
    font-size: 27px;
    margin-bottom: 45px;
    text-transform: uppercase;
    color: #fff;
}

.latest-news-links {
    margin: 20px;
}

.latest-news-link-item {
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}

.subscribe {
    background: #89ca62;
}

.best-articles {
    margin-left: 20px;
    background: #14b9d5;
}

.popular-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 65px;
    background: #f2f2f2;
    z-index: 5;
}

.popular-posts-title {
    margin: 60px;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: #14b9d5;
}

.popular-posts-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 1170px;
    height: 850px;
}

.popular-post-link-item {
    width: 370px;
    text-decoration: none;
    background: #fff;
}

.popular-post-link-item:nth-of-type(odd) {
    margin-bottom: 30px;
}

.popular-post-link-title {
    margin: 25px auto;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #5b5f62;
}

.popular-clients {
    display: grid;
    grid-template: 1fr 1fr 3px 1fr 1fr/ 1fr 2fr 1fr;
    grid-template-areas: ". . ."
                         ". title ."
                         ". blue-line ."
                         ". pop-cln-lnk ."
                         ". . .";
    justify-items: center;
    align-items: center;
    min-height: 590px;
    /* background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("../images/popular-clients-bg.jpeg"); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.popular-clients-title {
    grid-area: title;
    position: relative;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.blue-line {
    grid-area: blue-line;
    width: 60px;
    height: 1px;
    border: 1px solid  #14b9d5;
    background: #14b9d5;
}

.popular-clients-links {
    grid-area: pop-cln-lnk;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.top-rated {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    justify-items: center;
}

.top-rated-title {
    padding: 55px 0;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #14b9d5;
}

.top-rated-links {
    display: grid;
    grid-template: 1fr / repeat(7, 1fr);
    font-size: 0px;
}

.top-rated-link-item {
    text-decoration: none;
}

.top-rated-link-img {
    width: 100%;
}

.hot-news {
    display: grid;
    grid-template: 111px 258px 420px 420px 258px / repeat(4, 262px);
    grid-template-areas: "hot-news-title hot-news-title hot-news-title hot-news-title"
                         "hot-nws-lnk-itm-1 hot-nws-lnk-itm-1 hot-nws-lnk-itm-1 hot-nws-lnk-itm-2"
                         "hot-nws-lnk-itm-3 hot-nws-lnk-itm-3 hot-nws-lnk-itm-4 hot-nws-lnk-itm-4"
                         "hot-nws-lnk-itm-5 hot-nws-lnk-itm-5 hot-nws-lnk-itm-6 hot-nws-lnk-itm-6"
                         "hot-nws-lnk-itm-7 hot-nws-lnk-itm-8 hot-nws-lnk-itm-8 hot-nws-lnk-itm-8";
    justify-content: center;
    grid-row-gap: 25px;
    grid-column-gap: 30px;
    margin-bottom: 70px;
}

.hot-news-title {
    grid-area: hot-news-title;
    justify-self: center;
    padding: 55px 0 30px 0;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #14b9d5;
}

.hot-news-link-item {
    box-sizing: border-box;
}

.hot-nws-lnk-itm-1 {
    display: grid;
    grid-area: hot-nws-lnk-itm-1;
    grid-template: 70px 188px / 420px 420px;
    grid-template-areas: "img title"
                         "img info";
    text-decoration: none;
    background: #f9f7f7;
}

.hot-nws-lnk-itm-8 {
    display: grid;
    grid-area: hot-nws-lnk-itm-8;
    grid-template: 70px 188px / 420px 420px;
    grid-template-areas: "img title"
                         "img info";
    text-decoration: none;
    background: #f9f7f7;
}

.hot-nws-lnk-itm-1 .hot-news-link-img,
.hot-nws-lnk-itm-8 .hot-news-link-img {
    grid-area: img;
}

.hot-nws-lnk-itm-1 .hot-news-link-title,
.hot-nws-lnk-itm-8 .hot-news-link-title {
    grid-area: title;
    padding: 50px 25px 0 0;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #353a3d;
}

.hot-nws-lnk-itm-1 .hot-news-link-info,
.hot-nws-lnk-itm-8 .hot-news-link-info {
    grid-area: info;
    padding: 25px 25px 0 87px;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    color: #353a3d;
}

.hot-nws-lnk-itm-2 {
    grid-area: hot-nws-lnk-itm-2;
    text-decoration: none;
    background: #f9f7f7;
}

.hot-nws-lnk-itm-7 {
    grid-area: hot-nws-lnk-itm-7;
    text-decoration: none;
    background: #f9f7f7;
}

.hot-nws-lnk-itm-2 .hot-news-link-title,
.hot-nws-lnk-itm-7 .hot-news-link-title {
    padding-top: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #353a3d;
}

.hot-nws-lnk-itm-3 {
    grid-area: hot-nws-lnk-itm-3;
    text-decoration: none;
    background: #f9f7f7;
}

.hot-nws-lnk-itm-4 {
    grid-area: hot-nws-lnk-itm-4;
    text-decoration: none;
    background: #f9f7f7;
}

.hot-nws-lnk-itm-5 {
    grid-area: hot-nws-lnk-itm-5;
    text-decoration: none;
    background: #f9f7f7;
}

.hot-nws-lnk-itm-6 {
    grid-area: hot-nws-lnk-itm-6;
    text-decoration: none;
    background: #f9f7f7;
}

.hot-nws-lnk-itm-3 .hot-news-link-img,
.hot-nws-lnk-itm-4 .hot-news-link-img,
.hot-nws-lnk-itm-5 .hot-news-link-img,
.hot-nws-lnk-itm-6 .hot-news-link-img {
    padding-bottom: 22px;
}

.hot-nws-lnk-itm-3 .hot-news-link-title,
.hot-nws-lnk-itm-4 .hot-news-link-title,
.hot-nws-lnk-itm-5 .hot-news-link-title,
.hot-nws-lnk-itm-6 .hot-news-link-title {
    padding: 0 25px 28px 25px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #353a3d;
}

.hot-nws-lnk-itm-3 .hot-news-link-info,
.hot-nws-lnk-itm-4 .hot-news-link-info,
.hot-nws-lnk-itm-5 .hot-news-link-info,
.hot-nws-lnk-itm-6 .hot-news-link-info {
    grid-area: info;
    padding: 0 25px 25px 25px;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    color: #353a3d;
}

.copyright {
    display: grid;
    grid-template: 80px / 505px 539px 38px 52px;
    grid-template-areas: "copyright . logo title";
    justify-content: center;
    align-items: center;
    background: #1d2124;
}

.copyright-info {
    grid-area: copyright;
    font-size: 13px;
    color: #fff;
}

.copyright-logo-img {
    grid-area: logo;
}

.copyright-logo-title {
    grid-area: title;
    padding-bottom: 10px;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}