.container {
    width: 1280px;
    font-family: MyriadPro-Regular, sans-serif;
    margin: 0 auto;
}

.title {
    margin-top: 61px;
    margin-bottom: 45px;
} 

.main-header {
    font-size: 74px;
    color: #000000;
    text-decoration: none;
}

.feature {
    color: #4bcaff;
}

.main-menu {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 50px;
    text-align: center;
    background-color: #35444f;
    font-size: 0px;
}

.main-menu-item {
    display: inline-block;
    box-sizing: border-box;
    padding: 24px 41px;
}

.main-menu-link {
    font-size: 19.5px;
    text-decoration: none;
    color:white;
}

.main-menu-item:hover {
    background-color: #222f3a;
    padding-bottom: 23px;
}

.areas {
    display: inline-block;
    box-sizing: content-box;
    font-size: 0px;
}

.area-sidebar {
    width: 345px;
    display: inline-block;
    box-sizing: content-box;
    vertical-align: top;
    border: 1px solid #35444f;
    font-size: 0px;
}

.sidebar-item {
    width: 345px;
    display: inline-block;
    vertical-align: top;
    padding: 27px 44px;
    box-sizing: border-box;
    color: #485863;
    font-size: 25px;
    text-decoration: none;
}

.sidebar-item:hover {
    background-color: #dbdbdb;
    padding-left: 70px;
}

.image-logo {
    width: 883px;
    display: inline-block;
    margin-left: 47px;
    margin-bottom: 50px;
    border: 1px solid #35444f;
}

.image-logo:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.main-info {
    box-sizing: content-box;
    display: inline-block;
    font-size: 18px;
}

.content {
    width: 815px;
    margin: 0 auto;
    padding-bottom: 20px;
    line-height: 1.5;
}

.text-info {
    padding-bottom: 30px;
}

.area-footerbar {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 50px;
    background-color: #b4b7ba;
    color:#0c1927;
    font-size: 0px;
}

.footerbar-item {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 22px 25px;
    font-size: 19.5px;
    text-decoration: none;
}

.footerbar-item:visited {
    color:#0c1927;
}

.footerbar-item:hover {
    color: #3181a6;
    text-decoration: underline;
}

.copyright-info {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 24px 34px 24px 51px;
    margin-left: 227px;
    font-size: 20px;
}

