.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.pre-content {
    font-family: "Verdana", sans-serif;
    background-image: url(../img/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: calc((100vh - 58px - 578px)/2);
}

.journey-header {
    margin-bottom: calc((100vh - 58px - 578px)/2);
    padding: 18px 0 18px 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0, .4);
}

.logo-header {
    float: left;
    margin-left: 80px;
}

.logo-link {
    text-decoration: none;
}

.logo {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.logo:hover {
    color: #3cb878;
    transition: all 300ms;
}

.nav-header {
    float: right;
    margin-right: 75px;
}

.li-item {
    display: inline-block;
    font-size: 14px;
    color: #fff;
}

.link-icon {
    display: inline-block;
    background-image: url(../img/index.png);
}

.link-calendar {
    margin-right: 12px;
    width: 20px;
    height: 19px;
    background-position-y: 74px;
}

.link-calendar:hover {
    background-position-y: 55px;
    transition: all 100ms step-end;
}

.link-forum {
    margin-right: 12px;
    width: 28px;
    height: 20px;
    background-position-y: 0px;
}

.link-forum:hover {
    background-position-y: -20px;
    transition: all 100ms step-end;
}

.link-journey-details {
    margin-right: 25px;
    width: 20px;
    height: 20px;
    background-position-y: -40px;  
}

.link-journey-details:hover {
    background-position-y: -60px; 
    transition: all 100ms step-end;
}

.entrance {
    box-sizing: border-box;
    border-left: 1px solid #302f2e;
    position: relative;
    bottom: 4px;
}

.log-in-link::before {
    content: 'Welcome, ';
    margin-left: 24px;
}

.log-in-link::after {
    content: ' or';
}

.link-gen {
    color: #3cb878;
    text-decoration: none;
}

.link-gen:hover {
    text-decoration: underline;
    transition: all 300ms;
}

.modal {
    width: 444px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 30px 60px 32px 64px;
    background: white;
    border: 1px solid transparent;
    border-radius: 10px;
}

.modal-header {
    position: relative;
    margin-bottom: 16px;
}

.sign-up-title {
    float: left;
    font-size: 18px;
}

.sign-up-title::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -65px;
    width: 16px;
    height: 16px;
    background-color: #3cb878;
}

.log-in-link-modal {
    float: right;
}

.input-gen {
    display: inline-block;
    margin-bottom: 7px;
    box-sizing: border-box;
    padding: 18px 0 18px 20px;
    border: 1px solid #eaeaea;
    width: 100%;
    height: 47px;
    font-size: 14px;
}

.conf-psw {
    margin-bottom: 19px;
}

.input-gen:focus {
    outline: 1px solid #eaeaea;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.3);

}

.sign-up-btns {
    margin-bottom: 27px;
}

.btn {
    box-sizing: border-box;
    padding: 13px 0;
    width: 157px;
    font-size: 0px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-facebook {
    float: left;
    background: #305db8;
}

.btn-facebook:hover {
    background: #264b96;
    transition: all 300ms;
}

.btn-google {
    float: right;
    background: #df4a32;
}

.btn-google:hover {
    background: #c3412c;
    transition: all 300ms;
}

.social-icon {
    display: inline-block;
    width: 48px;
    font-size: 20px;
}

.btn-name {
    display: inline-block;
    width: 105px;
    border-left: 1px solid #848484; 
    font-size: 16px;
}

.or {
    position: relative;
    text-align: center;
    margin-bottom: 15px;
    color: #848484;
}

.or-span::before {
    content: '';
    float: left;
    position: absolute;
    left: 0px;
    top: 9px;
    width: 135px;
    border-bottom: 1px solid #848484;
}

.or-span::after {
    content: '';
    float: right;
    position: absolute;
    right: 0px;
    top: 9px;
    width: 135px;
    border-bottom: 1px solid #848484;
}

.input-checkbox {
    display: inline-block;
    visibility: hidden;
}

.label-checkbox {
    position: relative;
    display: inline-block;
    margin-bottom: 26px;
}

.term-cond-span::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #d8d8d8;
    font-size: 0px;
    user-select: none; 
}

.term-cond-span::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 4px;
    width: 11px;
    height: 6px;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    transform: rotate(-55deg);
}

.input-checkbox:checked + .term-cond-span::after {
    border-bottom: 4px solid #3cb878;
    border-left: 4px solid #3cb878;
}

.term-cond-span {
    display: inline-block;
    margin-left: 9px;
}

.sumbit-btn {
    padding: 17px 0;
    width: 100%;
    color: #fff;
    background-color: #3cb878;
    border: 1px solid transparent;
    border-radius: 4px;
}

.sumbit-btn:hover {
    background-color: #329a65;
}