body {
    font-family: AdobeInvisFont, Roboto, Courier, Arial, sans-serif;
    font-weight: bold;
}

.header-of-site {
    text-align: center;
}

.head-navigation {
    padding: 32px;
}

.nav-link {
    margin: 0 33px;
    color: #26a68d;
    font-size: 18px;
    text-decoration: transparent;
    text-transform: uppercase;
}

main {
    background-color: #f0f1f3;
}

.container {
    margin: 0 auto 56px;
} 

.header-of-info {
    margin-bottom: 34px;
    color: #f5f6f7;
    font-size: 18px;
    text-transform: uppercase;
}

.info {
    width: 1059px;
    margin: 0 auto 41px;
    
}

.try-it {
    width: 192px;
    padding: 16px;
    vertical-align: middle;
    margin: 0px 43% 94px;
    background-color: #26a68d;
    font-weight: bold;
    border-radius: 5px;
}

.footer-info {
    width: 1059px;
    padding: 49px;
    text-align: right;
    margin: 0px auto;
}

.copyright-info {
    font-size: 18px;
}