.pre-container {
    font-family: "Verdana", sans-serif;
    box-sizing: border-box;
    padding: 50px 0 22px;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 0 auto;
    width: 1056px;
}

.clearfix::after { 
    content: '';
    clear: both; 
    display: block;
}

.milan-head {
    margin-bottom: 45px;
}

.logo {
    float: left;
}

.logo-link {
    display: block;
    text-decoration: none;
}

.logo-img {
    display: inline-block;
    margin: 0;
    width: 46px;
    height: 44px;
    background-image: url(../img/index.png);
    background-repeat: no-repeat;
    background-position-y: -44px;
}

.logo-text {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.logo-text-line {
    display: block;
}

.line1 {
    font-size: 29px;
}

.logo-link:hover .logo-text {
    color: #f26522;
}

.logo-link:hover .logo-img {
    background-position-y: 0;
}

.contacts {
    float: right;
}

.contacts-info {
    margin-top: 10px;
    text-align: right;
    font-size: 18px;
    color: white;
}

.milan-tours-list {
    padding-left: 0;
}

.milan-tour-item {
    float: left;
    list-style-type: none;
}

.tour-01, .tour-04 {
    margin: 0 30px 60px 0;
}

.tour-02, .tour-05 {
    margin: 0 30px 60px;
}

.tour-03, .tour-06 {
    margin: 0 0  60px 30px;
}

.milan-tour-link {  
    display: block;  
    text-decoration: none;
}

.milan-tour-wrap {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 22px;
    padding: 2.5px;
    overflow: hidden;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(255, 255, 255));
}

.milan-tour-info {
    position: absolute;
    bottom: -68px;
    right: 0;
    left: 0;
    padding: 5px 0 16px 21px;
    font-size: 0px;
    color: white;
    background: #f26522;
}

.cost {
    display: inline-block;
    font-size: 20px;
}

.cost::first-line {
    font-size: 10px; 
}

.view-details {
    display: inline-block;
    padding-left: 117px;
    font-size: 14px;
}

.view-details::after {
    content: '';
    display: inline-block;
    margin-left: 16px;
    width: 6px;
    height: 10px;
    background-image: url(../img/index.png);
    opacity: .5;
    background-position: -1px 10px;
}

.milan-tour-name {
    text-align: center;
    color: #fff;
}

.milan-tour-link:hover .milan-tour-info {
    bottom: 0px;
    transition: all 500ms;
}

.milan-tour-link:hover > .milan-tour-name {
    color: #f26522;
}

.copyright {
    text-align: center;
    color: white;
}