@font-face {
    font-family: "Arimo";
    src: url(../fonts/Arimo/Arimo-Regular.eot),
         url(../fonts/Arimo/Arimo-Regular.svg),
         url(../fonts/Arimo/Arimo-Regular.ttf),
         url(../fonts/Arimo/Arimo-Regular.woff),
         url(../fonts/Arimo/Arimo-Regular.woff2);
         font-weight: normal;
         font-style: normal;
}

@font-face {
    font-family: "Arimo";
    src: url(../fonts/Arimo/Arimo-Bold.eot),
         url(../fonts/Arimo/Arimo-Bold.svg),
         url(../fonts/Arimo/Arimo-Bold.ttf),
         url(../fonts/Arimo/Arimo-Bold.woff),
         url(../fonts/Arimo/Arimo-Bold.woff2);
         font-weight: bold;
         font-style: normal;
}

.content {
    font-family: "Arimo", sans-serif;
    color: #848484;
    text-transform: uppercase;
}

.table-gen {
    margin: calc(100vh - 711px) auto;
    border-top: 24px solid #3a4965;
    border-right: 30px solid #3a4965;
    border-bottom: 32px solid #3a4965;
    border-left: 23px solid #3a4965;
}

col:not(:last-of-type) {
    border-right: 1px solid #d8d8d8;
}

.table-body tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.table-body tr:nth-child(even) {
    background-color: #e3e3e3;
}

.table-header {
    color: #484848;
    font-weight: bold;
}

.table-title {
    width: 310px;
    height: 155px;
    vertical-align: middle;
}

.table-title-1l {
    font-size: 18px;
}

.table-title-2l {
    font-size: 30px;
}

.plan-name {
    width: 275px;
    vertical-align: middle;
    font-size: 24px;
    color: #fff;
}

.standart {
    background-color: #89c331;
}

.ultimate {
    background-color: #f04a56;
}

.table-header-row .ultimate {
    font-size: 30px;
}

.premium {
    background-color: #20807c;
}

.plan-cost {
    padding: 20px 0 20px 35px;
    box-sizing: border-box;
    height: 75px;
}

.dolar {
    float: left;
    font-size: 60px;
    line-height: 50px;
}

.cent {
    font-size: 24px;
    text-align: left;
}

.per-month {
    margin-top: 6px;
    font-size: 18px;
    text-align: left;
    font-weight: normal;
}

.storage, .bandwidth, .email, .support, .prodacts, .users {
    height: 70px;
}

.fas, .far {
    font-size: 25px;
}

i + span {
    display: inline-block;
    position: relative;
    bottom: 2px;
    margin-left: 7px;
}

.table-footer-row {
    height: 110px;
}

td {
    vertical-align: middle;
    text-align: center;
}

.contact-us, .buy-now {
    width: 190px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.table-footer-row > td:first-of-type {
    background: #e3e3e3;
}

.contact-us {
    background-color: #484848;
}

.contact-us:hover, .buy-now:hover {
    transform: scale(1.2);
    transition: all 500ms ease-in;
    border-radius: 10px;
    font-size: 20px;
}

  
