.content {
    perspective: 500px;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: #000;
}

.main-body {
    display: inline-block;
    width: 70%;
    color: yellow;
    animation: move 30s linear infinite backwards;
}

.episode-num {
    margin-bottom: 100px;
    font-size: 100px;
    font-weight: 500;
    text-align: center;
}

.title {
    margin-bottom: 70px;
    font-size: 70px;
    font-weight: 500;
    text-align: center;
}

.info {
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 500;
}

@keyframes move {
    0% {
        transform: rotateX(40deg) translateY(650px);
    }

    100% {
        transform: rotateX(30deg) translateY(-1350px);
    }
}